@charset "UTF8";
body {
    font-family: sans-serif;
    margin: 20px;
    background: linear-gradient(to top, #b2f2b2, #e6e6fa);

}

form {
    background-color: #e0f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid black;
    max-width: 46%;
    margin: 0 auto;
}

h2, h3 {
    color: #333;
}


label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="url"],
select,
textarea {
    width: calc(100% - 10px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

textarea {
    height: 120px;
    resize: vertical;  
}

select {
    -webkit-appearance: none; 
   -moz-appearance: none;
    appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>") no-repeat right 10px center; /* Adiciona uma seta customizada */
    padding-right: 30px; 
}


input[type="submit"],
input[type="reset"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px; 
    font-size: 1.06em;
    font-weight: bolder;
   
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #45a049;
}

.form-group {
    margin-bottom: 20px;
}

p {  
    margin: 0;
}

#aceite_termos { 
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 6px;
}
.aceitacao-termos {
    display: flex;
    align-items: center;
    margin-top: 0;
}

@media (max-width: 768px) {
body {
    margin: 10px; 
}

form {
    max-width: 90%; 
    padding: 15px; 
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1); 
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="url"],
select,
textarea {
    width: 100%; 
    padding: 8px; 
    font-size: 0.9em; 
}

input[type="submit"],
input[type="reset"] {
    padding: 10px 15px; 
    font-size: 1em; 
    margin-right: 5px; 
}

textarea {
    height: 100px; 
}

.form-group {
    margin-bottom: 15px; 
}

h2, h3 {
    font-size: 1.5em; 
    text-align: center; 
}

.aceitacao-termos {
    flex-direction: column; 
    align-items: flex-start; 
}

#aceite_termos {
    margin-bottom: 10px;
}
}
