@charset "UTF8";
html, body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100%; /* Garante que o body sempre tenha 100% da altura */
    box-sizing: border-box;
    
}

.content-wrapper {
    justify-content: space-between;
     /* Centraliza horizontalmente */
    align-items: center;
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    min-height: 100vh; /* Faz a div ocupar a altura total da viewport */
    width: 100%; /* Faz a div ocupar toda a largura */
    background-color: #fcfcfc; /* Cor de fundo */
}

.introducao {
    
    height: 150px; /* Altura da faixa no final */
    width: 100%; /* Ocupa toda a largura da página */
    display: flex; /* Centraliza o vídeo dentro da div */
    align-items: center; /* Alinha verticalmente o vídeo no centro */
    justify-content: center; /* Alinha horizontalmente o vídeo no centro */
    position: relative; /* Permite controle sobre o posicionamento */
    overflow: hidden; /* Garante que o vídeo não extrapole a área */
}

video {
    width: 100%; /* Preenche toda a largura da div */
    height: 100%; /* Preenche toda a altura da div */
    object-fit: cover; /* Faz o vídeo preencher a área proporcionalmente */
    position: absolute; /* Garante que o vídeo permaneça fixo dentro da faixa */
}
.faq-container {
    text-align: center;
    width: 98%;
    height: 100%; 
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.911);
    border-radius: 10px;
    padding: 15px 0px 15px 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header{
    background-color: #78daa8;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: flex-end;
}
.titulo{
    color: #e04938;
    margin: 0;
}
.logo{
    margin-left: auto;
    padding: 10px;
    
}
.img1{
    height: 100px;
    max-width: 100%;
   
}
footer {
    background-color: #78daa8;
    color: #333;
    padding: 30px 0; 
    font-family: sans-serif;
}

.footer-content {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    max-width: 98.15%;  
    margin: 0 auto; 
    color: #000000;
}


.footer-section {
    width: 23.97%; 
    margin-bottom: 20px; 
    text-align: center; 
}

.footer-section h3 {
    color: #e04938;
    margin-bottom: 10px;
}

.iconn {
    margin-right: 5px;
}

.social-icon {
    display: inline-block;
    margin: 0 5px;
    font-size: 1.25em;
    color: #e04938;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 1em;
    color: #000000;

}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    font-size: 1.75em;
  }
  .social a {
    color: #2D1F28;
    text-decoration: none;
    margin: 10px;
  }
  .social:hover a {
    opacity: 0.3;
    transition: 0.5s;
  }
  .social:hover a:hover {
    opacity: 1;
    transition: 0.5s;
  }





h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
}

.faq-item {
    margin-bottom: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.faq-question {
    background-color: #dad4d4;
    padding: 10px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.faq-question:hover {
    background-color: #e0e0e0;
}

.faq-answer {
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 8px;
    display: none;
    margin-top: 5px;
}

.icon {
    font-size: 1.25em;
    color: #0073e6;
}
